<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MessageApp</title>
    
    <script src="../scripts/register.js" type="module"></script>
</head>
<body>
    
    <div>
        <label for="username" >Username</label>
        <input id="username" placeholder="Enter username" type="text">
    </div>

    <div>
        <label for="password1" >Password</label>
        <input id="password1" placeholder="Enter password" type="text">
    </div>
    
    <div>
        <label for="password2" >Repeat password</label>
        <input id="password2" placeholder="Repeat password" type="text">
    </div>

    <div>
        <a href="/login">Login here</a>
    </div>

    <button onclick="register()">Register</button>

</body>
</html>